html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #eee;
  color: #777;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 480px;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.exam {
  height: 100px;
  min-width: 100px;
  background: #fafafa;
  margin: 0 10px 10px 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.w100 {
  width: 100%;
  text-align: center;
}

h1 {
  font-weight: lighter;
}

small {
  font-size: 75%;
}

a {
  text-decoration: none;
  color: rgb(205, 35, 163);
}

a:hover {
  color: #069;
}
